<h2>Customer List</h2>

<ul>
    <li *ngFor="let c of customers">
        <form (ngSubmit)="save(c)" *ngIf="updatingId === c.customerId; else viewRow">
        
            <input [(ngModel)]="c.customerName" name="name_{{c.customerId}}" placeholder="Enter name" required maxlength="255">

            <input type="date" [(ngModel)]="c.dateOfBirth" name="dob_{{c.customerId}}" required>

            <input [(ngModel)]="c.gender" name="gender_{{c.customerId}}" placeholder="M or F" required minlength="1" maxlength="1">

            <button type="submit">Save</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
        </form>
        
        
        <ng-template #viewRow>
      Customer Number: {{ c.customerId }} -
      Customer Name: {{ c.customerName }} -
      Date of Birth: {{ c.dateOfBirth }} -
      Gender: {{ c.gender }}
      <button type="button" (click)="startEdit(c)">Edit</button>
    </ng-template>
  </li>
</ul>

<form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
  <input formControlName="customerName" placeholder="Enter Customer Name">
  <input formControlName="dateOfBirth" type="date">
  <input formControlName="gender" placeholder="M/F">
  <button type="submit">Add</button>
</form>
